<h1>Edit Product</h1>
<form #form="ngForm" (submit)="update()&&formset()">
  <h2>Title <input name="title" type="text" placeholder="product.title" required minlength="4" [(ngModel)]="product.title" #title="ngModel"><span *ngIf="title.invalid&&title.errors.minlength">Title has to be at least 4 charactors.</span><span *ngIf="title.dirty&&title.invalid&&title.errors.required">Title is required.</span></h2>
  <h2>Price <input name="price" type="number" min="0" step="0.01" placeholder="product.price" required  [(ngModel)]="product.price" #price="ngModel"><span *ngIf="price.invalid&&price.errors.required">price is required</span></h2>
  <h2>Image Url <input name="image" type="text" placeholder="product.url" [(ngModel)]="product.url" #url="ngModel"></h2>
  <p><input type="submit" value="UPDATE" [disabled]="form.invalid"><button (click)="delete(product.index)">Delete</button></p>
</form>
